




body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*     Font styles     */

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'), url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.first_submenu {
    color: #60b5ed;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}

.second_submenu_1,
.second_submenu_2 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}

.text_underline {
    text-decoration: underline;
}

.form_header {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 61px;
    text-align: center;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}

.OU {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 64px;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}

input[placeholder] {
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}

.checkbox_label {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}

input[type="submit"] {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}

.agreement_text {
    color: #ccc;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    font-family: "Helvetica Neue Light", Tahoma, sans-serif;
}


/*     Page elements style & size    */

/*     1. Navigation bar style & size     */

nav {
    min-width: 900px;
    width: 100%;
    height: 36px;
    background: url(../img/nav-pattern.png);
}

/*     2. Navigation bar elements style & size     */

.second_menu, .first_menu {
    float: right;
    font-size: 0;
}

/*     2.1 Navigation bar > First menu style & size     */

.first_menu>li {
    display: inline-block;
}

.first_menu>li>a {
    display: block;
    height: 36px;
    padding: 0 15px;
}

/*     2.2 Navigation bar > First menu hover     */

.first_menu>li>a:hover {
    color: white;
    background-color: #4eabda;
}

/*     2.3 Navigation bar > Second menu style & size     */

.second_menu>li {
    display: inline-block;
}

.second_menu>li>a {
    display: block;
    height: 36px;
    padding: 0 15px;
}

/*     2.4 Navigation bar > Second menu border     */

.second_menu::before {
    content: "";
    display: inline-block;
    height: 22px;
    border-left: 1px solid #56a2dc;
    position: relative;
    top: 6px;
}

/*     2.5 Navigation bar > Second menu > flag(img) style & size     */

.flag {
    vertical-align: middle;
    padding-right: 10px;
}

/*     2.6 Navigation bar > Second menu > submenu_2 - active background color     */

.second_submenu_2 {
    margin-right: 20px;
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #1a70c7));
    background: -moz-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: -webkit-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: -o-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: -ms-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: linear-gradient(to bottom, #79bbff 5%, #1a70c7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#1a70c7', GradientType=0);
    background-color: #79bbff;
}

/*     3. Form box elements style & size     */

/*     3.1 Form box style & size     */

.form_box {
    width: 560px;
    height: 630px;
    position: absolute;
    top: 50%;
    margin-top: -315px;
    left: 50%;
    margin-left: -280px;
}

/*     3.2 Form box > First section style & size     */

.first_section {
    width: 100%;
    height: 62px;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.6);
}

/*     3.3 Form box > Second section style & size     */

.second_section {
    width: 100%;
    height: 566px;
    background-color: rgba(0, 0, 0, 0.6);
}

/*     3.4 Form box > Second section > FaceBook button style & size     */

.fb_button {
    display: inline-block;
    width: 100%;
    margin-top: 35px;
    text-align: center;
}

/*     3.5 Form box > Second section > OU(separator) style & size     */

.OU {
    height: 64px;
    text-align: center;
    position: relative;
}

/*     3.6 Form box > Second section > OU(separator) left/right border style & size     */

.OU::before {
    content: "";
    width: 118px;
    border-top: 1px solid #666;
    border-bottom: 1px solid black;
    position: absolute;
    top: 32px;
    left: 143px;
}

.OU::after {
    content: "";
    width: 118px;
    border-top: 1px solid #666;
    border-bottom: 1px solid black;
    position: absolute;
    top: 32px;
    left: 299px;
}

/*     3.7 Form box > Second section > Registration form box style & size     */

.registration_form {
    text-align: center;
}

/*     3.8 Form box > Second section > Registration form box > Inputs style & size     */

 input[placeholder] {
    display: block;
    width: 261px;
    height: 35px;
    margin: 17px auto auto auto;
    padding-left: 15px;
    background-image: linear-gradient(to top, #111 0%, #0e0d0d 100%);
    box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, 0.2), inset 0 0 2px rgba(0, 0, 0, 0.1);
    border: none;
}

 input[placeholder]:first-child {
   margin-top: 0px;
 }

/*     3.9 Form box > Second section > Registration form box > Input focus style     */

input[placeholder]:focus {
    background-image: linear-gradient(to top, #1b5288 0%, #1b5288 100%);
    box-shadow: 0px 0px 4px 1px #689bcc, inset 0 2px 5px rgba(29, 26, 22, 0.2), 0 0 25px 4px rgba(47, 123, 197, 0.77), inset 0 0 2px rgba(0, 0, 0, 0.1);
}

/*     Placeholder text color (prefix)     */

::-webkit-input-placeholder {
    color: #ccc;
}

::-moz-placeholder {
    color: #ccc;
}

/* Firefox 19+ */

:-moz-placeholder {
    color: #ccc;
}

/* Firefox 18- */

:-ms-input-placeholder {
    color: #ccc;
}

/*     3.10 Form box > Second section > Registration form box > CheckBox style & size     */

.check {
    margin-top: 23px;
    margin-bottom: 25px;
}

.checkbox_label {
    vertical-align: text-top;
}

/*     3.11 Form box > Second section > Registration form box > Submit button style & size     */

 input[type="submit"] {
    width: 151px;
    height: 37px;
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #1a70c7));
    background: -moz-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: -webkit-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: -o-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: -ms-linear-gradient(top, #79bbff 5%, #1a70c7 100%);
    background: linear-gradient(to bottom, #79bbff 5%, #1a70c7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#1a70c7', GradientType=0);
    background-color: #79bbff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

/*     3.12 Form box > Second section > Registration form box > Agreement box style & size     */

.agreement_box {
    margin: 20px auto;
}
